# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv/
venv/
env/

# VS Code and JetBrains IDEs
.vscode/
.idea/

# Environment variable files
.env
*.env

# MacOS system files
.DS_Store

# Flask / FastAPI instance or static uploads
app/instance/
app/static/uploads/
